:root {
    --txt-color: #fff;
    --timer-box-bg: #1c2451;
    --timer-box-txt-bg: #085391;
}

.bhdLno {
    position: relative;
    width: 100vw !important;
    max-width: 400px !important;
    height: 100vw !important;
    max-height: 400px !important;
    object-fit: contain;
    flex-shrink: 0;
    z-index: 5;
    pointer-events: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--txt-color) !important;
    font-family: 'Poppins', sans-serif;
}

img {
    border: 0;
}

a {
    text-decoration: underline;
}